.page-container-detail-employee {
    padding: 10px 30px 30px 30px;
    width: calc(100vh - 240);
}

.page-title p {
  padding: 5px 0 15px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

/* -------- BODY --------- */
.page-content-detail-employee {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 30px 45px;
}