        .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.header {
    padding: 10px 24px !important;
    .list-item-content{
        color: #1A2027;
    }
}

.header:hover {
    background: rgb(230, 244, 255) !important;

    .list-item-content {
        color: #007FFF;

    }
}

.list-item {
    padding: 8px 32px !important;
    // border: 1px solid blue !important; 

    .list-item-content {
        font-weight: 700;
        color: #4D5E6C;
    }
}

.list-item:hover {
    background: rgb(230, 244, 255) !important;

    .list-item-content {
        color: #007FFF;

    }
}

.activeButton {
    background: rgb(230, 244, 255) !important;

    .list-item-content {
        color: #007FFF;

    }
}